@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}



.page{
    width: calc(100% - 100px);
    height: 100%;
    position: relative;
}
.top-tags{
    bottom: auto;
    top:35px;
    left: 20px;
    position: absolute;
}
.tags{
    color:#ffd700;
    opacity:0.6;
    position: absolute;
    bottom:0px ;
    left:20px;
    font-size: 35px;
    font-family: La Belle Aurore;
}
.container{
    width:100%;
    will-change:contents;
    height: 90%;
    min-height: 560x;
    position:absolute;
    opacity:0;
    top:5%;
    margin: 0 auto;
    z-index: 1px;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}